/* OUTER FRAME BG */
body{
  background: black;
}

/* TITLE PAGE */
.title-slide {
  background-color:white;
  background-image: url(../img/background_white_frontpage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.title-slide hgroup h1 {
  font-size: 60px;
  line-height: 1.4;
  letter-spacing: -1px;
  color: #515151;
  font-family: 'Fira Sans', "Trebuchet MS", Helvetica, sans-serif
}
.title-slide hgroup h2 {
  font-size: 30px;
  color: darkgrey;
  font-weight: inherit;
  font-family: 'Fira Sans', "Trebuchet MS", Helvetica, sans-serif
}

.segue hgroup h2 {
  font-family: 'Fira Sans', "Trebuchet MS", Helvetica, sans-serif
}

slide:not(.segue) h2 {
  font-family: 'Fira Sans', "Trebuchet MS", Helvetica, sans-serif
}

/* LOGO */
aside.gdbar {
  height: 200px; /* 97 */
  width: 500px; /* 215 */
  left: -1px;
  top: 50px;
}
aside.gdbar img {
  width: 480px; /*85*/
  height: 160px; /*85*/
  position: absolute;
  left: -25px;
  margin: 20px 25px;
}

/* BLOCK QUOTES */
blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

/* TEXT WIKIPEDIA IMAGES */
pw {
    font-size: 50%;
    text-align: justify;
}

/* IFRAME ONLY PART OF PAGE */
#my-div
{
    width    : 1100px;
    height   : 600px;
    overflow : hidden;
    position : relative;
}

#my-iframe
{
    position : absolute;
    top      : -5940px;
    left     : -180px;
    width    : 100%;
    height   : 6400px;
}

table, table td, table th {
  font-size: 15px;
  padding: 0.2em 0.2em;
  font-family: 'Open Sans','Helvetica', 'Crimson Text', 'Garamond',  'Palatino', sans-serif;
}

q {
  font-size: 36px;
}